<emp-ng-card [title]="request.procedureType"
             [hint]="request.requestedBy.name"
             (cardClose)="onClose()">

  <mat-horizontal-stepper linear #stepper [selectedIndex]="selectedStepperIndex" labelPosition="bottom" color="accent">

    <mat-step completed="true">
      <ng-template matStepLabel>Datos del interesado</ng-template>
      <emp-one-requester-data
        [requester]="request.requestedBy"
        [procedureType]="request.procedureType"
        [readonly] = "signed"
        (editRequester)="onRequesterDataChanged($event)">
      </emp-one-requester-data>
    </mat-step>

    <mat-step [completed]="request?.form?.fields">
      <ng-template matStepLabel>{{signed ? 'Ver' : 'Llenar'}}<br>el formulario</ng-template>
      <ng-container *ngIf="request.procedureType === 'AvisoPreventivo'">
        <emp-land-preventive-note
            [request]="request"
            (editionEvent)="processEvent($event)">
        </emp-land-preventive-note>
      </ng-container>
      <ng-container *ngIf="request.procedureType === 'SegundoAvisoDefinitivo'">
        <emp-land-definitive-note
            [request]="request"
            (editionEvent)="processEvent($event)">
        </emp-land-definitive-note>
      </ng-container>
      <ng-container *ngIf="request.procedureType === 'InscripcionEscrituraPublica'">
        <emp-land-notarial-instrument></emp-land-notarial-instrument>
      </ng-container>
      <ng-container *ngIf="request.procedureType === 'SolicitudFolioReal'">
        <emp-land-folio-real-request
          [request]="request"
          (editionEvent)="processEvent($event)">
        </emp-land-folio-real-request>
      </ng-container>
    </mat-step>

    <mat-step [completed]="signed">
      <ng-template matStepLabel>{{signed ? 'Firma electrónica' : (isSigner ? 'Firmar la solicitud' : 'Enviar a firma')}}</ng-template>

      <emp-one-request-signer
          [request]="request"
          [readonly] = "submitted"
          (editionEvent)="processEvent($event)">
      </emp-one-request-signer>
    </mat-step>

    <mat-step [completed]="submitted">
      <ng-template matStepLabel>{{submitted ? 'Información del trámite' : 'Solicitar el trámite'}}</ng-template>

      <emp-one-request-submitter
          [request]="request"
          (editionEvent)="processEvent($event)">
      </emp-one-request-submitter>
    </mat-step>

  </mat-horizontal-stepper>
</emp-ng-card>
