<div class="text-box file-drop-area" (drop)="onDropFile($event)" (dragover)="onDragOver($event)">
    <label for="file" *ngIf="!fileToUpload" i18n><strong>Seleccionar un archivo</strong> o arrastrarlo aquí.</label>
     {{fileToUpload ? fileToUpload.name : ''}}
     <span class="right">
       <button *ngIf="fileToUpload" type="button" class="btn remove-file-btn"
               (click)="removeFile()" i18n>Eliminar</button>
     </span>
</div>

<input type="file" id="file"
       (change)="handleFileInput($event.target.files)" style='display:none'>
