<div class="explorer"
    [class.remove-min-width]="!displayEditor">

  <div class="explorer-panel primary">
    <emp-land-instrument-list
      [view]="currentView"
      (instrumentSelected)="onSelectInstrument($event)">
    </emp-land-instrument-list>

  </div>

  <div *ngIf="displayEditor" class="explorer-panel secondary">
    <emp-land-create-instrument-wizard
        [instrument]="selectedInstrument"
        (instrumentChange)="onInstrumentChange($event)"
        (wizardClose)="onEditorClose()">
    </emp-land-create-instrument-wizard>
  </div>

</div>
