@import "../../../../styles/variables";

.file-drop-area {
  border: dashed 1px $primary-color;
  height: 90px;
  padding-top: 36px;
}

.remove-file-btn {
  margin-top: -26px;
  margin-right: 16px;
}
