<div class="explorer" fxLayoutGap="32px">

  <div [fxHide.lt-lg]="displayEditor" class="primary">
    <emp-land-instrument-list
        [instrumentList]="instrumentList"
        [selectedInstrument]="selectedInstrument"
        [filter]="filter"
        [title]="currentView.title"
        [isLoading]="isLoading"
        (instrumentListEvent)="onInstrumentListEvent($event)">
    </emp-land-instrument-list>

  </div>

  <div *ngIf="displayEditor" class="secondary">
    <emp-land-create-instrument-wizard
        [instrument]="selectedInstrument"
        (wizardClose)="onCloseEditor()">
    </emp-land-create-instrument-wizard>
  </div>

</div>

<emp-ng-modal-window *ngIf="displayCreateInstrumentWizard"
                     [config]="{width:'820px', height:'840px'}">

  <emp-land-create-instrument-wizard
      [showInstrumentTypeSelector]="true"
      (wizardClose)="onCloseCreateInstrumentWizard()">
  </emp-land-create-instrument-wizard>

</emp-ng-modal-window>
