<emp-ng-card [title]="request.name"
             [hint]="request.requestedBy"
             (cardClose)="onClose()">

  <mat-horizontal-stepper linear #stepper labelPosition="bottom" color="accent">

    <mat-step>
      <ng-template matStepLabel>{{request.signed ? 'Ver' : 'Llenar'}}<br>el formulario</ng-template>
      <ng-container *ngIf="requestType === 'PreventiveNote'">
        <emp-land-preventive-note
            [preventiveNote]="request"
            [readonly] = "request.signed"
            (editionEvent)="processEvent($event)">
        </emp-land-preventive-note>
      </ng-container>
      <ng-container *ngIf="requestType === 'DefinitiveNote'">
        <emp-land-definitive-note></emp-land-definitive-note>
      </ng-container>
      <ng-container *ngIf="requestType === 'NotaryDeed'">
        <emp-land-deed></emp-land-deed>
      </ng-container>
      <ng-container *ngIf="requestType === 'FolioRealRequest'">
        <emp-land-folio-real-request></emp-land-folio-real-request>
      </ng-container>
      <div class="right">
        <button class="btn-action" matStepperNext>Siguiente</button>
      </div>
    </mat-step>

    <mat-step [completed]="false" *ngIf="requestType === 'NotaryDeed'">
      <ng-template matStepLabel>Adjuntar<br>archivos</ng-template>
      <emp-ng-file-control></emp-ng-file-control>

      <div class="right">
        <button mat-button matStepperPrevious>Anterior</button>
        <button class="btn-action" matStepperNext>Siguiente</button>
      </div>
    </mat-step>

    <mat-step [completed]="request.signed">
      <ng-template matStepLabel>{{request.signed ? 'Firma electrónica' : 'Firmar la solicitud'}}</ng-template>

      <emp-one-request-signer
          [request]="request"
          [readonly] = "request.submitted"
          (editionEvent)="processEvent($event)">
      </emp-one-request-signer>

      <div class="right">
        <button mat-button matStepperPrevious>Anterior</button>
        <button [class.btn]="!request.signed" [class.btn-action]="request.signed"
                [disabled]="!request.signed" matStepperNext>Siguiente</button>
      </div>
    </mat-step>

    <mat-step [completed]="request.submitted">
      <ng-template matStepLabel>{{request.submitted ? 'Información del trámite' : 'Solicitar el trámite'}}</ng-template>

      <emp-one-request-submitter
          [request]="request"
          (editionEvent)="processEvent($event)">
      </emp-one-request-submitter>

      <div class="right">
        <button mat-button matStepperPrevious>Anterior</button>
      </div>
    </mat-step>

  </mat-horizontal-stepper>
</emp-ng-card>
