<emp-ng-card [title]='instrument.name || "Nuevo documento"'
             [hint]='instrument.requestedBy || "Crear un nuevo instrumento legal u oficio"'
             (cardClose)="onClose()">

  <mat-horizontal-stepper linear #stepper labelPosition="bottom" color="accent">

    <mat-step>
      <ng-template matStepLabel>{{instrument.isSigned ? 'Ver' : 'Llenar'}}<br>el formulario</ng-template>
      <ng-container *ngIf="documentType === 'PreventiveNote'">
        <emp-land-preventive-note
            [preventiveNote]="instrument"
            [readonly] = "instrument.isSigned"
            (editionEvent)="processEvent($event)">
        </emp-land-preventive-note>
      </ng-container>
      <ng-container *ngIf="documentType === 'DefinitiveNote'">
        <emp-land-definitive-note></emp-land-definitive-note>
      </ng-container>
      <ng-container *ngIf="documentType === 'NotaryDeed'">
        <emp-land-deed></emp-land-deed>
      </ng-container>
      <ng-container *ngIf="documentType === 'FolioRealRequest'">
        <emp-land-folio-real-request></emp-land-folio-real-request>
      </ng-container>
      <div class="right">
        <button class="btn-action" matStepperNext>Siguiente</button>
      </div>
    </mat-step>

    <mat-step [completed]="false" *ngIf="documentType === 'NotaryDeed'">
      <ng-template matStepLabel>Adjuntar<br>archivos</ng-template>
      <emp-ng-file-control></emp-ng-file-control>

      <div class="right">
        <button mat-button matStepperPrevious>Anterior</button>
        <button class="btn-action" matStepperNext>Siguiente</button>
      </div>
    </mat-step>

    <mat-step [completed]="instrument.isSigned">
      <ng-template matStepLabel>{{instrument.isSigned ? 'Firma electrónica' : 'Firmar el documento'}}</ng-template>

      <emp-land-instrument-sign-request
          [instrument]="instrument"
          [readonly] = "instrument.isRequested"
          (editionEvent)="processEvent($event)">
      </emp-land-instrument-sign-request>

      <div class="right">
        <button mat-button matStepperPrevious>Anterior</button>
        <button [class.btn]="!instrument.isSigned" [class.btn-action]="instrument.isSigned"
                [disabled]="!instrument.isSigned" matStepperNext>Siguiente</button>
      </div>
    </mat-step>

    <mat-step [completed]="instrument.isRequested">
      <ng-template matStepLabel>{{instrument.isRequested ? 'Información del trámite' : 'Solicitar el trámite'}}</ng-template>

      <emp-land-instrument-filing
          [instrument]="instrument"
          (editionEvent)="processEvent($event)">
      </emp-land-instrument-filing>

      <div class="right">
        <button mat-button matStepperPrevious>Anterior</button>
      </div>
    </mat-step>

  </mat-horizontal-stepper>
</emp-ng-card>
