<div class="card card-border">

  <div class="card-header card-header-flat">

    <div class="card-title">
      {{view.title}}
      <div class="card-hint">{{hint}}</div>
    </div>

    <div class="card-header-options">
        <div style="width:32px"></div>

        <input type="search" class="text-box" style="width:auto" fxHide.lt-sm="true"
               placeholder="Buscar documentos"
               (search)="onFilterChange()" [(ngModel)]="keywords">
        &nbsp; &nbsp; &nbsp;
        <button class="btn-action"
                (click)="openCreateDocumentWizard()" i18n>Nuevo</button>

    </div>

  </div>

  <div class="card-body">

    <div *ngFor="let instrument of instrumentList | async"
          class="list-item" matRipple [matRippleTrigger]="trigger"
          [class.list-item-selected]="isSelected(instrument)">

      <div class="list-item-container">

        <div class="list-item-name">
          <b><a #trigger
              (click)="onSelect(instrument)">{{instrument.requestedBy}}</a></b>
        </div>

        <emp-land-instrument-list-item [instrument]="instrument"></emp-land-instrument-list-item>

      </div>

    </div>

  </div> <!--card-body-->

</div>


<emp-ng-modal-window *ngIf="displayCreateDocumentWizard"
                     [config]="{width:'840px', height:'900px', disableClose:true}"
                     (modalWindowClose)="closeCreateDocumentWizard()">

  <emp-land-create-instrument-wizard
      [showInstrumentTypeSelector]="true"
      (wizardClose)="closeCreateDocumentWizard()">
  </emp-land-create-instrument-wizard>

</emp-ng-modal-window>
