<div class="card card-border">

  <div class="card-header card-header-flat">

    <div class="card-title">
      {{title}}
      <div class="card-hint" empNgProgressText
           loadingText="Cargando documentos"
           [finalText]="instrumentList.length + ' documentos encontrados'"
           [isLoading]="isLoading"></div>

    </div>

    <div class="card-header-options">
        <div style="width:32px"></div>

        <input type="search" class="text-box" style="width:auto" fxHide.lt-sm="true"
               placeholder="Buscar documentos"
               (search)="onFilterChange()" [(ngModel)]="keywords">
        &nbsp; &nbsp; &nbsp;
        <button class="btn-action"
                (click)="onClickCreateInstrumentButton()" i18n>Nuevo</button>

    </div>

  </div>

  <div class="card-body" [empNgSpinnerHost]="spinner">
    <emp-ng-spinner #spinner [visible]="isLoading"></emp-ng-spinner>

    <div *ngFor="let instrument of instrumentList"
          class="list-item" matRipple [matRippleTrigger]="trigger"
          [class.list-item-selected]="isSelected(instrument)">

      <div class="list-item-container">

        <div class="list-item-name">
          <b><a #trigger
              (click)="onSelect(instrument)">{{instrument.requestedBy}}</a></b>
        </div>

        <emp-land-instrument-list-item [instrument]="instrument"></emp-land-instrument-list-item>

      </div>

    </div>

  </div> <!--card-body-->

</div>
