<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="8px" fxLayoutGap.gt-xs="32px">

  <div fxFlex="10%">
    <div class="label">Tipo de solicitud</div>
    <div class="primary-text nowrap"><b>{{request.procedureType}}</b></div>
    {{request.lastUpdateTime | date:'dd/LLL/yyyy'}}
  </div>

  <div *ngIf="request?.form?.fields['propertyUID']" fxFlex="auto">
    <div class="label">Folio real del predio</div>
    <div class="primary-text nowrap"><b>{{request?.form?.fields['propertyUID']}}</b></div>
    <div>{{request?.form?.fields['propertyName']}}</div>
  </div>

  <div fxFlex="15%">
    <div *ngIf="request?.transaction?.uid">
      <div class="label">Trámite RPP</div>
      <div>
        <div class="primary-text nowrap"><b>{{request?.transaction?.uid}}</b></div>
        <div>{{request?.paymentOrder?.total | currency }}</div>
      </div>
    </div>
  </div>

  <div fxFlex="8%">
    <div class="label">Estado:</div>
    <div>{{request.status.name}}</div>
  </div>

</div>
